body{
  font-family: 'ヒラギノ角ゴ ProN' , 'Hiragino Kaku Gothic ProN' , '游ゴシック' , '游ゴシック体' , YuGothic , 'Yu Gothic' , 'メイリオ' , Meiryo , 'ＭＳ ゴシック' , 'MS Gothic' , HiraKakuProN-W3 , 'TakaoExゴシック' , TakaoExGothic , 'MotoyaLCedar' , 'Droid Sans Japanese' , sans-serif;
}
.txt span{
  font-style: italic;
}
dt,dd{
  display: inline-block;
}
dt{
  font-weight: bold;
  text-align: center;
  width: 100px;
}
dd{
  margin-inline-start: 0;
}